* {
    margin: 0;
    padding: 0;
}

body {
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    width: 100%;
    text-align: center;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

.subtitle {
    margin-bottom: 2.5rem;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid black 1px;
    width: 25rem;
    height: 25rem;
    border-radius: 15px;
}

.form-container {
}

label {
    margin-bottom: 1rem;
}

input {
    margin-top: 0.5rem;
    width: 15rem;
    height: 2rem;
}

#submit {
    width: 10rem;
    margin: auto;
    background: #3dddf6;
    color: white;
    border: white;
    border-radius: 25px;
}

#submitLabel {
    display: flex;
    justify-content: center;
}

input::placeholder {
    position: relative;
    transition: transform 0.3s ease;
}

input:hover::placeholder {
    font-size: 10px;
    transition: font-size 0.3s;
    transform: translateY(-12px);
}