@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    background: #1b4d80;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    width: 100%;
    text-align: center;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    color: white;
}

.subtitle {
    color: white;
}

.main-container {
    display: flex;
    background: #1b4d80;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35rem;
    height: 25rem;
    border-radius: 15px;
}

.form-container {
}

label {
    margin-bottom: 0.5rem;
}

#description, #email, #name, #firstname  {
    margin-top: 0.5rem;
    width: 15rem;
    height: 2rem;
    border-radius: 15px;
    border: none;
}

#submit {
    width: 10rem;
    height: 2rem;
    margin: auto;
    background: #3dddf6;
    color: white;
    border: white;
    border-radius: 25px;
}

#submitLabel {
    display: flex;
    justify-content: center;
}

input::placeholder {
    position: relative;
    left : 0.5rem;
    transition: transform 0.3s ease;
}

input:hover::placeholder {
    font-size: 10px;
    transition: font-size 0.3s;
    transform: translateY(-12px);
}

header {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 15rem;
    background: linear-gradient(to bottom, #08294a, #1b4d80)
}
#logo {
    width: 15rem;
    height: 15rem;
    margin: auto;
    border-radius: 50%;
    border: solid white 2px;
}

#file {
    color: white;
    font-size: 12px;
    margin-top: 0.5rem ;
    margin-bottom: 2rem;
    margin-left : 0.9rem;
}